.wrapper {
  width: 1920px;
  height: 1080px;
  z-index: 999;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 100px;
  font-family: 'Fredoka One';
  text-align: center;
  color: white;
  padding: 64px 48px;

  border: 8px solid transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(90deg, #e7504b, #ed9456, #e4c15c, #6bb58b, #6897df, #8b73ed);
  background-repeat: no-repeat;
  background-size: 100% 100%, 300% 100%;
  background-position: 0 0, 100% 0;
  background-origin: padding-box, border-box;

  animation: borderAnimation 10s ease-in-out infinite alternate;
}

@keyframes borderAnimation {
  100% {
    background-position: 0 0, 0 0;
  }
}
